html, body {
    background-color: gold;
}

h1 {
    text-align: center;
    color: black;
    
}

.container {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

img {  
    text-align:center;
    display: inline-block;
    border-radius: 5%;
    border: 2px solid black;
}

